*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form{
    border-radius: 15px;
    border: solid 1px navy;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    border: solid gold 3px;
    background-color: indianred;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-radius: 10px;
}  
.input{
    display: block;
    padding: 10px;
    margin: 5px 0;
    width: 300px;
}
.btn{
    padding: 10px 20px;
    background: green;
    color:#fff;
    width: 150px;
    border: gold 3px solid;
    border-radius: 50px;
    margin: 10px;
}
.radio{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;    border: solid gold 3px;
    background-color: cadetblue;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-radius: 10px;
    
}